/* LoginForm.module.css */
.container {
    background: linear-gradient(to bottom, #cbd5e1, #64748b);
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1.5rem;
    margin: auto;
    height: 100vh;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .logo {
    padding-bottom: 0.5rem;
    width: 10rem;
  }
  
  .title {
    padding-bottom: 1.5rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: #475569;
  }
  
  .card {
    width: 100%;
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    max-width: 24rem;
    padding: 1.5rem;
  }
  
  .label {
    display: block;
    margin-bottom: 0.3rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: #111827;
  }
  
  .input {
    border-radius: 0.375rem !important;
    padding: 0.525rem !important;
  }
  
  .button {
    width: 100%;
    background-color: #2563eb;
    color: #ffffff;
    font-weight: 500;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    padding: 0.625rem 1.25rem;
    text-align: center;
    margin-top: 1.9rem;
    border: none;
    cursor: pointer;
  }
  
  .button:not(:disabled):hover {
    background-color: #1d4ed8;
  }
  
  .button:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(37, 99, 235, 0.5);
  }
  
  .error {
    color: #ef4444;
    margin-bottom: 0.5rem;
  }
  
  .eyeDiv{
    position: relative;
  }
  
  .icon {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    color: #4b5563;
    cursor: pointer;
  }
  
  .disabledBtn {
    background-color: #5c80e4 ;
    cursor: not-allowed;
  }
  