.result {
    background-color: #d1fae5;
    border: 2px solid #10b981;
    color: #065f46;
    padding: 1rem 5rem;
    font-size: 1.1rem;
    margin: 0 auto;
    border-radius: 0.5rem;
    width: fit-content;
}

.quizContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.card {
    width: 500px;
    height: 200px;
    background-color: white;
    border: 2px solid #2563eb;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 2rem;
    transition: transform 0.4s;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.flipped {
    background-color: #e0f2fe;
}

.actions {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.correctBtn {
    background-color: #22c55e;
    color: white;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.wrongBtn {
    background-color: #ef4444;
    color: white;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.stats {
    font-size: 1rem;
    color: #444;
    margin-top: 1rem;
}


.noCardMsg {
    font-size: 1.2rem;
    color: #f87171;
    margin-top: 2rem;
    text-align: center;
}

