.message {
    text-align: center;
    margin-top: 2rem;
    color: #555;
    font-size: 1.1rem;
}

.cardList {
    max-width: 700px;
    margin: 2rem auto;
    list-style: none;
    padding: 0;
}

.cardItem {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    text-align: left;
    border: 1px solid #ddd;
}


.cardActions {
    display: flex;
    justify-content: flex-end;
    gap: 0.1rem;
    margin-top: 0.75rem;
}

.actionBtn {
    border: none;
    background: none;
    cursor: pointer;
}

.cardDate {
    font-size: 0.8rem;
    color: #888;
}
